/.idea/.idea.LibraryApp/.idea/.idea.LibraryApp.iml
/LibraryApp/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/.idea/.idea.LibraryApp/.idea/contentModel.xml
/.idea/.idea.LibraryApp/.idea/encodings.xml
/.idea/.idea.LibraryApp/.idea/indexLayout.xml
/LibraryApp/obj/Debug/LibraryApp.csproj.CoreCompileInputs.cache
/LibraryApp/obj/Debug/LibraryApp.csproj.FileListAbsolute.txt
/LibraryApp/obj/Debug/LibraryApp.csproj.GenerateResource.cache
/LibraryApp/obj/Debug/LibraryApp.csprojAssemblyReference.cache
/LibraryApp/bin/Debug/LibraryApp.exe
/LibraryApp/obj/Debug/LibraryApp.exe
/LibraryApp/bin/Debug/LibraryApp.exe.config
/LibraryApp/obj/Debug/LibraryApp.LoginForm.resources
/LibraryApp/bin/Debug/LibraryApp.pdb
/LibraryApp/obj/Debug/LibraryApp.pdb
/LibraryApp/obj/Debug/LibraryApp.Properties.Resources.resources
/.idea/.idea.LibraryApp/.idea/modules.xml
/.idea/.idea.LibraryApp/.idea/projectSettingsUpdater.xml
/.idea/.idea.LibraryApp/riderModule.iml
/.idea/.idea.LibraryApp/.idea/vcs.xml
/.idea/.idea.LibraryApp/.idea/workspace.xml
